h1 {
    text-align:left;
    position: static;
    
}

/* CSS for 5 day schedule, will hold a ul in each table header*/
.schedule {
    border-collapse: collapse;
    width: 50%;
    height: 50%;
}
.schedule table {
    position: absolute;
    margin: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: 1px solid black;
}

.schedule th {
    border: 1px solid black;
    width: 20%;
}
.schedule ul {
    font-size: 1em;
}
/* End of schedule css =======================================*/

/* Sections for settings button */
.settings {
    position: absolute;
    margin: 0;
    right: 2%;
}
.settingsButton {

}
/* End of settings Button ======*/