#settings {
    padding: 10px;
}
.settingsGroup {
    display: flex;
}
#settingsGroup1 > fieldset {
    flex: 33.33%;
}
#settingsGroup2 > fieldset {
    flex: 50%;
}
.option {
    display: block;
}
#settings button {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}
#importButtonFileInput {
    display: none;
}
.copyBookmark, .deleteBookmark, .deleteCourse {
    display: block;
    width: 25px;
    height: 25px;
}
.settingsBookmark, .settingsCourse {
    display: flex;
    margin-bottom: 7px;
}
.settingsBookmark > *, .settingsCourse > * {
    flex: 50%;
}
.settingsBookmark .actions, .settingsCourse .actions {
    display: flex;
    justify-content: right;
}
#bookmarkSettings .actions img, #courseSettings .actions img {
    display: inline;
    text-align: right;
    margin-right: 10px;
}
#addBookmarkForm div {
    display: flex;
    column-gap: 2.5%;
    margin-bottom: 5px;
}
#addCourseForm div {
    display: block;
    margin-bottom: 5px;
}
#addCourseForm div input {
    width: 97.5%;
}
#addBookmarkForm div input {
    flex: 45%;
}
#closeSettingsButton {
    margin-top: 10px;
}
h1 {
    text-align:left;
    position: static;
    
}
button {
    background-color: #d6001c;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
body.dark, body.sunset, body.night {
    color: white;
}
body.dark fieldset, body.sunset fieldset, body.night fieldset {
    border-color: white;
}
body.dark a, body.dark a:visited, body.sunset a, body.sunset a:visited, body.night a, body.night a:visited {
    color: rgb(0, 128, 255);
}
body.dark {
    background-color: #111;
}
body.dark .schedule table, body.dark .schedule table th, body.dark .schedule table td, body.dark .schedule table tbody tr, body.dark #bookmarksBody {
    border: 1px solid white;
}
body.dark #bookmarksBody li:not(:last-child) {
    border-bottom: 1px solid white;
}
body.sunset {
    background-color: /* #ff5100 */ rgba(255, 81, 0, 0.7);
}
body.night {
    background-color: #444;
}
body.light, body.sunrise, body.day {
    color: black;
}
body.light a, body.light a:visited, body.sunrise a, body.sunrise a:visited, body.day a, body.day a:visited {
    color: rgba(0, 0, 255, 0.8);
}
body.light {
    background-color: white;
}
body.sunrise {
    background-color: /* #ffcc00 */ rgba(255, 250, 160, 0.8);
}
body.day {
    background-color: /* #00ccff */ rgba(0, 204, 255, 0.5);
}
#dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 15vh 20vh;
    gap: 15px;
    overflow-wrap: break-word;
}
#dashboard #datetimeweather {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    gap: 15px;
}
#weatherSymbol{
    width: 70px;
}
#weatherTemp{
    font-size: 20px;
    
}
#date{
    font-size: 30px;
}
#time{
    font-size: 80px;
}
.dashTitle{
    font-size: 4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    
}
.nextCourse{
    font-size: 100px;
}
#weatherContainer {
    display: flex;
    flex-direction: column;
}
#dashboard #settingsGearDiv {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
}
#settingsGear {
    width: 50px;
    height: 50px;
}
body.dark img.icon, body.sunset img.icon, body.night img.icon {
    filter: invert(100%);
}
#center-data {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
#center-data > * {
    display: flex;
    align-self: center;
}
#schedule {
    grid-column: 1 / -1;
    grid-row: -1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
#schedule > * {
    align-self: center;
}
/* CSS for 5 day schedule*/
.schedule table {
    border: 1px solid black;
    border-collapse: collapse;
}

.schedule th {
    width: 20%;
}
.schedule th:not(:last-child){
    border-right: 1px solid black;
}
.schedule thead {
    font-size: 1em;
}
.schedule thead th {
    padding: 5px;
}

.schedule table tbody td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.nextCourse {
    background-color: #d6001c;
    color: white;
}
#bookmarks {
    grid-column: 3;
    grid-row: 2 / -1;
    justify-self: end;
}
#bookmarksHeading {
    text-align: center;
}
#bookmarksBody {
    border: 1px solid black;
    width: 10vw;
}

#bookmarksBody ul {
    margin: 0;
    padding: 0;
}

#bookmarksBody li {
    list-style: none;
    padding: 5px;
    text-align: center;
}
#bookmarksBody li:not(:last-child){
    border-bottom: 1px solid black;
}

/* End of schedule css =======================================*/

/* Sections for settings button */
/* .settings {
    position: absolute;
    margin: 0;
    right: 0.5%;
} */
/* End of settings Button ======*/
/* Copy-pasting inline styles from index.html */
/* body{
    background-color: beige;
}
.time {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.date{
    position: absolute;
    top: 76px;
    left: 34px;
    font-size: 31px;
}
.dashTitle {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.dashSubTitle {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.searchBar {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#dashboard form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    width: auto;
    
}
#dashboard input[type=text]{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#searchButton {
    padding: 10px;
}
#searchButton span {
    margin-left: 5px;
}
.clickable {
    cursor: pointer;
}
#settingsGear {
    width: 50px;
    height: 50px;
} */