#settings {
    padding: 10px;
}
.settingsGroup {
    display: flex;
}
#settingsGroup1 > fieldset {
    flex: 33.33%;
}
#settingsGroup2 > fieldset {
    flex: 50%;
}
.option {
    display: block;
}
#settings button {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}
#importButtonFileInput {
    display: none;
}
.copyBookmark, .deleteBookmark, .deleteCourse {
    display: block;
    width: 25px;
    height: 25px;
}
.settingsBookmark, .settingsCourse {
    display: flex;
    margin-bottom: 7px;
}
.settingsBookmark > *, .settingsCourse > * {
    flex: 50%;
}
.settingsBookmark .actions, .settingsCourse .actions {
    display: flex;
    justify-content: right;
}
#bookmarkSettings .actions img, #courseSettings .actions img {
    display: inline;
    text-align: right;
    margin-right: 10px;
}
#addBookmarkForm div {
    display: flex;
    column-gap: 2.5%;
    margin-bottom: 5px;
}
#addCourseForm div {
    display: block;
    margin-bottom: 5px;
}
#addCourseForm div input {
    width: 97.5%;
}
#addBookmarkForm div input {
    flex: 45%;
}
#closeSettingsButton {
    margin-top: 10px;
}
h1 {
    text-align:left;
    position: static;
    
}
button {
    background-color: blue;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 33vh);
    gap: 15px;
}
#dashboard #datetime {
    grid-column: 1;
    grid-row: 1;
}
#dashboard #settingsGearDiv {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}
#settingsGear {
    width: 50px;
    height: 50px;
}
#center-data {
    grid-column: 1 / -1;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
#center-data > * {
    display: flex;
    align-self: center;
}
#schedule {
    grid-column: 1 / -1;
    grid-row: -1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
#schedule > * {
    align-self: center;
}
/* CSS for 5 day schedule*/
.schedule table {
    border: 1px solid black;
    border-collapse: collapse;
}

.schedule th {
    width: 20%;
}
.schedule th:not(:last-child){
    border-right: 1px solid black;
}
.schedule thead {
    font-size: 1em;
}
.schedule thead th {
    padding: 5px;
}

.schedule table tbody td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
/* End of schedule css =======================================*/

/* Sections for settings button */
/* .settings {
    position: absolute;
    margin: 0;
    right: 0.5%;
} */
/* End of settings Button ======*/
/* Copy-pasting inline styles from index.html */
/* body{
    background-color: beige;
}
.time {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.date{
    position: absolute;
    top: 76px;
    left: 34px;
    font-size: 31px;
}
.dashTitle {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.dashSubTitle {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.searchBar {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#dashboard form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    width: auto;
    
}
#dashboard input[type=text]{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#searchButton {
    padding: 10px;
}
#searchButton span {
    margin-left: 5px;
}
.clickable {
    cursor: pointer;
}
#settingsGear {
    width: 50px;
    height: 50px;
} */
